@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300;0,5..1200,400;0,5..1200,500;0,5..1200,600;1,5..1200,300;1,5..1200,400;1,5..1200,500;1,5..1200,600&display=swap");
:root {
  --clr-bg: #f3f5e2;
  --clr-details: #ffffff;
  --clr-bg-90: #f3eeeebb;
  --clr-text: #000000de;
  --clr-gray: rgba(251, 255, 0, 0.938);
  --clr-gray-alt: #cecbf0;
  --clr-botton: #504e99f3;
}

/* VARIABLES DARK */
[data-theme=dark] {
  --clr-bg: #d84a4aaf;
  --clr-bg-90: #1a1a17e6;
  --clr-text: #a7caff;
  --clr-gray: #90aaff;
  --clr-gray-alt: #161515;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair", serif;
}
*::-moz-selection {
  background-color: var(--clr-details);
  color: var(--clr-bg);
}
*::selection {
  background-color: var(--clr-details);
  color: var(--clr-bg);
}

.maingrid {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: "footer1  mainindex";
}
.maingrid .mainindex {
  display: grid;
  grid-area: mainindex;
  grid-template-columns: 40% 60%;
  grid-template-areas: "mainme  mainlinks";
}
.maingrid .mainindex .mainme {
  display: grid;
  grid-area: mainme;
}
.maingrid .mainindex .mainme .maintext {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
}
.maingrid .mainindex .mainme .maintext h1 {
  font-size: calc(12px + 4vh);
  margin-top: 5vw;
}
.maingrid .mainindex .mainme .maintext .title {
  color: rgba(0, 0, 0, 0.8705882353);
}
.maingrid .mainindex .mainme .maintext .subtitle {
  font-size: calc(12px + 2.5vh);
  color: rgba(0, 0, 0, 0.8705882353);
}
.maingrid .mainindex .mainme .maintext .paragraph {
  font-size: calc(12px + 1vh);
  color: rgba(0, 0, 0, 0.8705882353);
}
.maingrid .mainindex .mainlinks {
  display: grid;
  grid-area: mainlinks;
}
.maingrid .mainindex .mainlinks .pageslinks {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.maingrid .mainindex .mainlinks .pageslinks .main2-item {
  list-style: none;
}
.maingrid .mainindex .mainlinks .pageslinks .main2-item .main2-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 10vw;
}
.maingrid .footer {
  grid-area: footer1;
  z-index: 600;
  width: 6%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 3vw;
  margin-bottom: 1vw;
  display: flex;
  position: fixed;
}
.maingrid .main-footer {
  padding-block: 3vw;
}
.maingrid .main-footer .main-footer-inner a {
  font-size: 2.4vw;
  color: var(--clr-text);
  transition: 0.2s;
}
.maingrid .main-footer .main-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-left: 0.5rem;
}
.maingrid .main-footer .main-buttons .main-footer-inner ion-icon {
  pointer-events: none;
  display: flex;
}
.maingrid .main-footer .main-buttons .colorbutton {
  font-size: calc(12px + 2.5vh);
  color: var(--clr-text);
  transition: 0.2s;
  margin-top: -1.5vw;
  margin-bottom: 1vw;
}
.maingrid .main-footer .main-buttons .ig,
.maingrid .main-footer .main-buttons .github,
.maingrid .main-footer .main-buttons .linkedin {
  font-size: calc(12px + 3vh);
}
.maingrid .main-footer .main-buttons > button,
.maingrid .main-footer .main-buttons > a {
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (hover: hover) {
  .maingrid .main-buttons > button:hover,
  .maingrid .main-buttons > a:hover {
    border: 0;
    background-color: transparent;
    color: var(--clr-botton);
    cursor: pointer;
  }
}
.maingrid .main-buttons ion-icon {
  pointer-events: none;
}

.worksgrid {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: "works-footer  headermainworks";
}
.worksgrid .headermainworks {
  display: grid;
  grid-area: headermainworks;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "gohome" "works";
}
.worksgrid .headermainworks .header .gohome {
  display: grid;
  grid-area: gohome;
}
.worksgrid .headermainworks .header .gohome .lineabout {
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 3rem 15rem 0 0;
}
.worksgrid .headermainworks .header .gohome .homeabout {
  display: flex;
  justify-content: end;
  margin-top: -0.8rem;
  margin-right: 10%;
}
.worksgrid .headermainworks .header .gohome .homeabout a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8705882353);
}
.worksgrid .headermainworks .works {
  display: grid;
  grid-area: works;
}
.worksgrid .headermainworks .works .navworks {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "workstext  workslinks";
}
.worksgrid .headermainworks .works .navworks .workslinks::-webkit-scrollbar {
  display: none;
}
.worksgrid .headermainworks .works .navworks .workstext {
  grid-area: workstext;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.worksgrid .headermainworks .works .navworks .workstext h1 {
  font-size: calc(12px + 4vh);
  margin-top: 5vw;
}
.worksgrid .headermainworks .works .navworks .workstext .title {
  color: rgba(0, 0, 0, 0.8705882353);
}
.worksgrid .headermainworks .works .navworks .workstext .subtitle {
  font-size: calc(12px + 2.5vh);
  color: rgba(0, 0, 0, 0.8705882353);
}
.worksgrid .headermainworks .works .navworks .workstext .paragraph {
  font-size: calc(12px + 1.5vh);
  color: rgba(0, 0, 0, 0.8705882353);
}
.worksgrid .headermainworks .works .navworks .workslinks {
  grid-area: workslinks;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 400px;
  text-align: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  overflow-y: scroll;
  width: 100%;
}
.worksgrid .headermainworks .works .navworks .workslinks .navbar-item {
  list-style: none;
}
.worksgrid .headermainworks .works .navworks .workslinks .navbar-item .project-link {
  text-decoration: none;
}
.worksgrid .headermainworks .works .navworks .workslinks .navbar-item .project-link .titleproject {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.8705882353);
  margin-bottom: -1.2rem;
}
.worksgrid .headermainworks .works .navworks .workslinks .navbar-item .project-link .paragraphproject {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8705882353);
}
.worksgrid .footer {
  z-index: 600;
  width: 6%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 3vw;
  margin-bottom: 1vw;
  display: flex;
  position: fixed;
}
.worksgrid .works-footer {
  grid-area: about-footer;
  padding-block: 3vw;
}
.worksgrid .works-footer .works-footer-inner a {
  font-size: 2.4vw;
  color: var(--clr-text);
  transition: 0.2s;
}
.worksgrid .works-footer .works-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-left: 0.5rem;
}
.worksgrid .works-footer .works-buttons .works-footer-inner ion-icon {
  pointer-events: none;
  display: flex;
}
.worksgrid .works-footer .works-buttons .colorbutton {
  font-size: calc(12px + 2.5vh);
  color: var(--clr-text);
  transition: 0.2s;
  margin-top: -1.5vw;
  margin-bottom: 1vw;
}
.worksgrid .works-footer .works-buttons .ig,
.worksgrid .works-footer .works-buttons .github,
.worksgrid .works-footer .works-buttons .linkedin {
  font-size: calc(12px + 3vh);
}
.worksgrid .works-footer .works-buttons > button,
.worksgrid .works-footer .works-buttons > a {
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (hover: hover) {
  .worksgrid .works-buttons > button:hover,
  .worksgrid .works-buttons > a:hover {
    border: 0;
    background-color: transparent;
    color: var(--clr-botton);
    cursor: pointer;
  }
}
.worksgrid .works-buttons ion-icon {
  pointer-events: none;
}

.aboutgrid {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: "about-footer  headermainabout";
}
.aboutgrid .headermainabout {
  display: grid;
  grid-area: headermainabout;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "gohome" "aboutme";
}
.aboutgrid .headermainabout .gohome {
  display: grid;
  grid-area: gohome;
}
.aboutgrid .headermainabout .aboutme {
  display: grid;
  grid-area: aboutme;
  grid-template-columns: 40% 60%;
  grid-template-areas: "aboutmetext  aboutlinks";
}
.aboutgrid .headermainabout .aboutme .aboutmetext {
  grid-area: aboutmetext;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.aboutgrid .headermainabout .aboutme .aboutmetext h1 {
  font-size: calc(12px + 4vh);
  margin-top: 5vw;
}
.aboutgrid .headermainabout .aboutme .aboutmetext .title {
  color: rgba(0, 0, 0, 0.8705882353);
}
.aboutgrid .headermainabout .aboutme .aboutmetext .subtitle {
  font-size: calc(12px + 2.5vh);
  color: rgba(0, 0, 0, 0.8705882353);
}
.aboutgrid .headermainabout .aboutme .aboutlinks {
  grid-area: aboutlinks;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.aboutgrid .headermainabout .aboutme .aboutlinks .skills-titles {
  font-size: 4vw;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.aboutgrid .headermainabout .aboutme .aboutlinks .skills-list {
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1vw;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  row-gap: 1vw;
  list-style: none;
}
.aboutgrid .headermainabout .aboutme .aboutlinks .skills-list .skill {
  background-color: #f3f5e2;
  padding: 0.5vw 0.75vw;
  border-radius: 0.25vw;
  border: 1px solid #444444;
  transition: 0.2s;
  font-size: 1.2vw;
}
.aboutgrid .headermainabout .aboutme .aboutlinks .skills-list .mainaboutme .skills-list {
  margin-top: 2vw;
}
@media (hover: hover) {
  .aboutgrid .headermainabout .aboutme .aboutlinks .skills-list .skill:hover {
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8705882353);
    color: #ffffff;
  }
}
.aboutgrid .footer {
  z-index: 600;
  width: 6%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 3vw;
  margin-bottom: 1vw;
  display: flex;
  position: fixed;
}
.aboutgrid .about-footer {
  grid-area: about-footer;
  padding-block: 3vw;
}
.aboutgrid .about-footer .about-footer-inner a {
  font-size: 2.4vw;
  color: var(--clr-text);
  transition: 0.2s;
}
.aboutgrid .about-footer .about-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-left: 0.5rem;
}
.aboutgrid .about-footer .about-buttons .about-footer-inner ion-icon {
  pointer-events: none;
  display: flex;
}
.aboutgrid .about-footer .about-buttons .colorbutton {
  font-size: calc(12px + 2.5vh);
  color: var(--clr-text);
  transition: 0.2s;
  margin-top: -1.5vw;
  margin-bottom: 1vw;
}
.aboutgrid .about-footer .about-buttons .ig,
.aboutgrid .about-footer .about-buttons .github,
.aboutgrid .about-footer .about-buttons .linkedin {
  font-size: calc(12px + 3vh);
}
.aboutgrid .about-footer .about-buttons > button,
.aboutgrid .about-footer .about-buttons > a {
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (hover: hover) {
  .aboutgrid .about-buttons > button:hover,
  .aboutgrid .about-buttons > a:hover {
    border: 0;
    background-color: transparent;
    color: var(--clr-botton);
    cursor: pointer;
  }
}
.aboutgrid .about-buttons ion-icon {
  pointer-events: none;
}

.header .lineabout {
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 3rem 15rem 0 0;
}
.header .homeabout {
  display: flex;
  justify-content: end;
  margin-top: -0.8rem;
  margin-right: 10%;
}
.header .homeabout a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8705882353);
}

.contactgrid {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: "about-footer  headermainabout";
}
.contactgrid .headermaincontact {
  display: grid;
  grid-area: headermainabout;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "gohome" "contactme";
}
.contactgrid .headermaincontact .gohome {
  display: grid;
  grid-area: gohome;
}
.contactgrid .headermaincontact .contactme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.contactgrid .headermaincontact .contactme h1 {
  font-size: calc(12px + 12vw);
  margin-top: 5vw;
}
.contactgrid .headermaincontact .contactme .title {
  color: rgba(0, 0, 0, 0.8705882353);
}
.contactgrid .headermaincontact .contactme .subtitle {
  font-size: calc(12px + 1vw);
  color: rgba(0, 0, 0, 0.8705882353);
  margin-top: 0.5rem;
}
.contactgrid .headermaincontact .contactme .subtitle .email {
  color: rgba(0, 0, 0, 0.8705882353);
}
.contactgrid .footer {
  z-index: 600;
  width: 6%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 3vw;
  margin-bottom: 1vw;
  display: flex;
  position: fixed;
}
.contactgrid .contact-footer {
  grid-area: about-footer;
  padding-block: 3vw;
}
.contactgrid .contact-footer .contact-footer-inner a {
  font-size: 2.4vw;
  color: var(--clr-text);
  transition: 0.2s;
}
.contactgrid .contact-footer .contact-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-left: 0.5rem;
}
.contactgrid .contact-footer .contact-buttons .contact-footer-inner ion-icon {
  pointer-events: none;
  display: flex;
}
.contactgrid .contact-footer .contact-buttons .colorbutton {
  font-size: calc(12px + 2.5vh);
  color: var(--clr-text);
  transition: 0.2s;
  margin-top: -1.5vw;
  margin-bottom: 1vw;
}
.contactgrid .contact-footer .contact-buttons .ig,
.contactgrid .contact-footer .contact-buttons .github,
.contactgrid .contact-footer .contact-buttons .linkedin {
  font-size: calc(12px + 3vh);
}
.contactgrid .contact-footer .contact-buttons > button,
.contactgrid .contact-footer .contact-buttons > a {
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (hover: hover) {
  .contactgrid .contact-buttons > button:hover,
  .contactgrid .contact-buttons > a:hover {
    border: 0;
    background-color: transparent;
    color: var(--clr-botton);
    cursor: pointer;
  }
}
.contactgrid .contact-buttons ion-icon {
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  /* INDEX*/
  .maingrid .mainindex {
    display: grid;
    grid-area: mainindex;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "mainme" "mainlinks";
  }
  .maingrid .mainindex .mainme {
    display: grid;
    grid-area: mainme;
  }
  .maingrid .mainindex .mainme .maintext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
  }
  .maingrid .mainindex .mainme .maintext h1 {
    font-size: calc(12px + 6vw);
    margin-top: 5vw;
  }
  .maingrid .mainindex .mainme .maintext .title {
    color: rgba(0, 0, 0, 0.8705882353);
  }
  .maingrid .mainindex .mainme .maintext .subtitle {
    font-size: calc(12px + 3.5vw);
    color: rgba(0, 0, 0, 0.8705882353);
  }
  .maingrid .mainindex .mainme .maintext .paragraph {
    font-size: calc(12px + 2vw);
    color: rgba(0, 0, 0, 0.8705882353);
  }
  .maingrid .mainindex .mainlinks {
    display: grid;
    grid-area: mainlinks;
  }
  .maingrid .mainindex .mainlinks .pageslinks {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    justify-content: center;
    text-align: center;
  }
  .maingrid .mainindex .mainlinks .pageslinks .main2-item .main2-link {
    font-size: 14vw;
  }
  /* ABOUT*/
  .aboutgrid .headermainabout .aboutme {
    display: grid;
    grid-area: aboutme;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "aboutmetext" "aboutlinks";
  }
  .aboutgrid .headermainabout .aboutme .aboutmetext {
    grid-area: aboutmetext;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -5rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .aboutgrid .headermainabout .aboutme .aboutmetext h1 {
    font-size: calc(12px + 3vw);
  }
  .aboutgrid .headermainabout .aboutme .aboutmetext .subtitle {
    font-size: calc(12px + 1.5vw);
  }
  .aboutgrid .headermainabout .aboutme .aboutlinks {
    margin-top: -8.5rem;
  }
  .aboutgrid .headermainabout .aboutme .aboutlinks .skills-titles {
    font-size: calc(12px + 3vw);
  }
  .aboutgrid .headermainabout .aboutme .aboutlinks .skills-list .skill {
    font-size: calc(12px + 1.5vw);
  }
  /* WORKS */
  .worksgrid .headermainworks .works .navworks {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "workstext" "workslinks";
  }
  .worksgrid .headermainworks .works .navworks .workstext {
    grid-area: workstext;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: -1rem;
  }
  .worksgrid .headermainworks .works .navworks .workstext h1 {
    font-size: calc(12px + 3vh);
    margin-top: 5vw;
  }
  .worksgrid .headermainworks .works .navworks .workstext .subtitle {
    font-size: calc(12px + 1.5vh);
  }
  .worksgrid .headermainworks .works .navworks .workstext .paragraph {
    font-size: calc(12px + 1.2vh);
  }
  .worksgrid .headermainworks .works .navworks .workslinks {
    grid-area: workslinks;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 400px;
    text-align: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    overflow-y: scroll;
    width: 100%;
    margin-top: -2rem;
  }
  .worksgrid .headermainworks .works .navworks .workslinks .navbar-item .project-link .titleproject {
    font-size: 4vh;
    margin-bottom: -0.8rem;
  }
  .worksgrid .headermainworks .works .navworks .workslinks .navbar-item .project-link .paragraphproject {
    font-size: 2.5vh;
  }
  /* CONTACT */
  .contactgrid .headermaincontact .contactme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */