@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300;0,5..1200,400;0,5..1200,500;0,5..1200,600;1,5..1200,300;1,5..1200,400;1,5..1200,500;1,5..1200,600&display=swap");
:root {
  --clr-bg: #f3f5e2;
  --clr-details: #ffffff;
  --clr-bg-90: #f3eeeebb;
  --clr-text: #000000de;
  --clr-gray: rgba(251, 255, 0, 0.938);
  --clr-gray-alt: #cecbf0;
  --clr-botton: #504e99f3;
}

/* VARIABLES DARK */
[data-theme=dark] {
  --clr-bg: #d84a4aaf;
  --clr-bg-90: #1a1a17e6;
  --clr-text: #a7caff;
  --clr-gray: #90aaff;
  --clr-gray-alt: #161515;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair", serif;
}
*::-moz-selection {
  background-color: var(--clr-details);
  color: var(--clr-bg);
}
*::selection {
  background-color: var(--clr-details);
  color: var(--clr-bg);
}

.grid {
  display: grid;
  grid-template-columns: 10% 30% 60%;
  grid-template-areas: "footer1 main1 header1";
}
.grid .header {
  display: grid;
  grid-area: header1;
}
.grid .header .navbar {
  display: flex;
  margin-top: 5%;
  padding: 2vw;
}
.grid .header .navbar .navbar-item {
  list-style: none;
}
.grid .header .navbar .navbar-item .navbar-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 10vw;
}
.grid .main {
  display: grid;
  grid-area: main1;
  margin-top: 75%;
  padding: 1.5vw;
}
.grid .main h1 {
  font-size: calc(12px + 4vh);
  margin-top: 5vw;
}
.grid .main .title {
  color: rgba(0, 0, 0, 0.8705882353);
}
.grid .main .subtitle {
  font-size: calc(12px + 2.5vh);
  color: rgba(0, 0, 0, 0.8705882353);
}
.grid .main .paragraph {
  font-size: calc(12px + 1vh);
  color: rgba(0, 0, 0, 0.8705882353);
}
.grid .footer {
  grid-area: footer1;
  z-index: 600;
  width: 6%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 3vw;
  margin-bottom: 1vw;
  display: flex;
  position: fixed;
}
.grid .main-footer {
  padding-block: 3vw;
}
.grid .main-footer .main-footer-inner a {
  font-size: 2.4vw;
  color: var(--clr-text);
  transition: 0.2s;
}
.grid .main-footer .main-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-left: 0.5rem;
}
.grid .main-footer .main-buttons .main-footer-inner ion-icon {
  pointer-events: none;
  display: flex;
}
.grid .main-footer .main-buttons .colorbutton {
  font-size: calc(12px + 2.5vh);
  color: var(--clr-text);
  transition: 0.2s;
  margin-top: -1.5vw;
  margin-bottom: 1vw;
}
.grid .main-footer .main-buttons .ig, .grid .main-footer .main-buttons .github, .grid .main-footer .main-buttons .linkedin {
  font-size: calc(12px + 3vh);
}
.grid .main-footer .main-buttons > button,
.grid .main-footer .main-buttons > a {
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (hover: hover) {
  .grid .main-buttons > button:hover,
  .grid .main-buttons > a:hover {
    border: 0;
    background-color: transparent;
    color: var(--clr-botton);
    cursor: pointer;
  }
}
.grid .main-buttons ion-icon {
  pointer-events: none;
}

.grid .header .lineproject {
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 3rem 10rem 0 0;
}
.grid .header .homeproject {
  display: flex;
  justify-content: end;
  margin-top: -0.8rem;
  margin-right: 10%;
}
.grid .header .homeproject a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8705882353);
}
.grid .header .navbarproject::-webkit-scrollbar {
  display: none;
}
.grid .header .navbarproject {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: -5rem;
  margin-right: 10%;
  height: 450px;
  overflow-y: scroll;
}
.grid .header .navbarproject .navbar-item {
  list-style: none;
}
.grid .header .navbarproject .navbar-item .project-link {
  text-decoration: none;
}
.grid .header .navbarproject .navbar-item .project-link .titleproject {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.8705882353);
  margin-bottom: -1.2rem;
}
.grid .header .navbarproject .navbar-item .project-link .paragraphproject {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8705882353);
}

.grid .header .lineabout {
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 3rem 10rem 0 0;
}
.grid .header .homeabout {
  display: flex;
  justify-content: end;
  margin-top: -0.8rem;
  margin-right: 10%;
}
.grid .header .homeabout a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8705882353);
}
.grid .navbarabout {
  margin: 2rem;
  /*SKILLS*/
}
.grid .navbarabout .skills-list {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1vw;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  row-gap: 0.5vw;
  list-style: none;
}
.grid .navbarabout .skills-list .skill {
  background-color: #f3f5e2;
  padding: 0.5vw 0.75vw;
  border-radius: 0.25vw;
  border: 1px solid #444444;
  transition: 0.2s;
  font-size: 1.2vw;
}
.grid .navbarabout .skills-list .skills-titles {
  font-size: 4vw;
}
.grid .navbarabout .skills-list .mainaboutme .skills-list {
  margin-top: 2vw;
}
@media (hover: hover) {
  .grid .navbarabout .skills-list .skill:hover {
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8705882353);
    color: #ffffff;
  }
}
.grid .mainaboutme {
  display: grid;
  grid-area: main1;
  padding-top: 92%;
  max-width: 40vw;
}
.grid .mainaboutme .titleaboutme {
  color: rgba(0, 0, 0, 0.8705882353);
  margin: 0.3vw;
  font-size: 5vw;
}
.grid .mainaboutme .subtitle {
  font-size: 1.5vw;
  color: rgba(0, 0, 0, 0.8705882353);
  margin: 0.3vw;
}
.grid .mainaboutme .paragraph {
  font-size: 1.1vw;
  color: rgba(0, 0, 0, 0.8705882353);
  margin: 0.3vw 0.3vw 0vw 0.3vw;
}

.grid .header .linecontact {
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 3rem 10rem 0 0;
}
.grid .header .homecontact {
  display: flex;
  justify-content: end;
  margin-top: -0.8rem;
  margin-right: 10%;
}
.grid .header .homecontact a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8705882353);
}
.grid .maincontact {
  display: grid;
  grid-area: main1;
  margin-top: 32%;
  max-width: 40vw;
  margin-bottom: 2vw;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.grid .maincontact .titlecontact {
  color: rgba(0, 0, 0, 0.8705882353);
  margin: 0.3vw;
  font-size: 8vw;
}
.grid .maincontact .subtitlecontact {
  font-size: 1.37vw;
  color: rgba(0, 0, 0, 0.8705882353);
  margin: 0.8vw;
}
.grid .maincontact .subtitlecontact .email {
  color: black;
}

@media screen and (max-width: 992px) {
  .grid {
    /******************************************* INDEX *************************************************/
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "footer1  main1" "footer1  header1";
    /************************************************ ABOUT ****************************************************/
    /******************************************************** PROYECTOS **************************************************/
  }
  .grid .header {
    display: grid;
    grid-area: header1;
  }
  .grid .header .gohome {
    margin-top: -25rem;
  }
  .grid .header .navbar {
    display: flex;
    margin-top: -2rem;
    margin-bottom: 1rem;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 0rem;
    padding-bottom: 0rem;
    justify-content: center;
    text-align: center;
  }
  .grid .header .navbar .navbar-item .navbar-link {
    font-size: calc(12px + 13vw);
  }
  .grid .main {
    display: grid;
    grid-area: main1;
    margin-top: 20%;
    margin-bottom: 10rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5vw;
    text-align: center;
  }
  .grid .main h1 {
    font-size: calc(12px + 4.5vw);
    margin-top: 5vw;
  }
  .grid .main .subtitle {
    font-size: calc(12px + 3vw);
    color: rgba(0, 0, 0, 0.8705882353);
  }
  .grid .main .paragraph {
    font-size: calc(12px + 1.5vw);
  }
  .grid .maincontact {
    display: grid;
    grid-area: main1;
    margin-top: 7%;
    max-width: 40rem;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .grid .maincontact .subtitlecontact {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .grid .footer {
    grid-area: footer1;
    z-index: 600;
    width: 6%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 30px;
    display: flex;
    position: fixed;
  }
  .grid .main-footer {
    padding-block: 3rem;
  }
  .grid .main-footer .main-footer-inner a {
    color: var(--clr-text);
    transition: 0.2s;
  }
  .grid .main-footer .main-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .grid .main-footer .main-buttons .main-footer-inner ion-icon {
    pointer-events: none;
    display: flex;
  }
  .grid .main-footer .main-buttons .colorbutton {
    color: var(--clr-text);
    transition: 0.2s;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
  }
  .grid .main-footer .main-buttons > button,
  .grid .main-footer .main-buttons > a {
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .grid .header .lineabout {
    height: 2px;
    padding: 0;
    margin: -12rem 40vh 0 0;
  }
  .grid .header .homeabout {
    display: flex;
    justify-content: end;
    margin-top: -0.85rem;
    margin-right: 10%;
  }
  .grid .header .navbarabout {
    margin: 2rem;
    /*SKILLS*/
  }
  .grid .header .navbarabout .skills-list {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw;
    -moz-column-gap: 1vw;
         column-gap: 1vw;
    row-gap: 0.5vw;
    list-style: none;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .grid .header .navbarabout .skills-list .skill {
    background-color: #f3f5e2;
    padding: 0.5vw 0.75vw;
    border-radius: 0.25vw;
    border: 1px solid #444444;
    transition: 0.2s;
    font-size: 4.2vh;
  }
  .grid .header .navbarabout .skills-list .skills-titles {
    font-size: 11vh;
  }
  .grid .header .navbarabout .skills-list .mainaboutme .skills-list {
    margin-top: 2vw;
  }
}
@media screen and (max-width: 992px) and (hover: hover) {
  .grid .header .navbarabout .skills-list .skill:hover {
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8705882353);
    color: #ffffff;
  }
}
@media screen and (max-width: 992px) {
  .grid .mainaboutme {
    display: grid;
    grid-area: main1;
    padding-top: 20%;
    max-width: 100%;
    margin-top: 10rem;
    padding-top: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: center;
    text-align: center;
  }
  .grid .mainaboutme .titleaboutme {
    font-size: 13vh;
  }
  .grid .mainaboutme .subtitle {
    font-size: 6vh;
  }
  .grid .mainaboutme .paragraph {
    font-size: 1.1vw;
    color: rgba(0, 0, 0, 0.8705882353);
    margin: 0.3vw 0.3vw 0vw 0.3vw;
  }
}
@media screen and (max-width: 992px) {
  .grid .header .lineproject {
    margin: -25rem 10rem 0 0;
  }
}
@media screen and (max-width: 695px) {
  .grid .header .lineabout {
    height: 2px;
    padding: 0;
    margin: -14rem 40vh 0 0;
  }
  .grid .header .homeabout {
    display: flex;
    justify-content: end;
    margin-top: -0.85rem;
    margin-right: 10%;
  }
  .grid .header .navbarabout {
    margin: 2rem;
    /*SKILLS*/
  }
  .grid .header .navbarabout .skills-list {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw;
    -moz-column-gap: 1vw;
         column-gap: 1vw;
    row-gap: 1.5vw;
    list-style: none;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .grid .header .navbarabout .skills-list .skill {
    background-color: #f3f5e2;
    padding: 0.5vw 0.75vw;
    border-radius: 0.25vw;
    border: 1px solid #444444;
    transition: 0.2s;
    font-size: 4.2vh;
  }
  .grid .header .navbarabout .skills-list .skills-titles {
    font-size: 9vh;
  }
  .grid .header .navbarabout .skills-list .mainaboutme .skills-list {
    margin-top: 0vw;
  }
}
@media screen and (max-width: 695px) and (hover: hover) {
  .grid .header .navbarabout .skills-list .skill:hover {
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8705882353);
    color: #ffffff;
  }
}
@media screen and (max-width: 695px) {
  .grid .mainaboutme {
    display: grid;
    grid-area: main1;
    padding-top: 20%;
    max-width: 100%;
    margin-top: 10rem;
    padding-top: 0rem;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: center;
    text-align: center;
  }
  .grid .mainaboutme .titleaboutme {
    font-size: 13vh;
  }
  .grid .mainaboutme .subtitle {
    font-size: 6vh;
  }
  .grid .mainaboutme .paragraph {
    font-size: 1.1vw;
    color: rgba(0, 0, 0, 0.8705882353);
    margin: 0.3vw 0.3vw 0vw 0.3vw;
  }
}
@media screen and (max-width: 510px) {
  .grid .header .lineabout {
    height: 2px;
    padding: 0;
    margin: -17rem 40vh 0 0;
  }
  .grid .header .homeabout {
    display: flex;
    justify-content: end;
    margin-top: -0.85rem;
    margin-right: 10%;
  }
  .grid .header .navbarabout {
    margin: 2rem;
    /*SKILLS*/
  }
  .grid .header .navbarabout .skills-list {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw;
    -moz-column-gap: 1vw;
         column-gap: 1vw;
    row-gap: 1.5vw;
    list-style: none;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .grid .header .navbarabout .skills-list .skill {
    background-color: #f3f5e2;
    padding: 0.5vw 0.75vw;
    border-radius: 0.25vw;
    border: 1px solid #444444;
    transition: 0.2s;
    font-size: 4.2vh;
  }
  .grid .header .navbarabout .skills-list .skills-titles {
    font-size: 9vh;
  }
  .grid .header .navbarabout .skills-list .mainaboutme .skills-list {
    margin-top: 0vw;
  }
}
@media screen and (max-width: 510px) and (hover: hover) {
  .grid .header .navbarabout .skills-list .skill:hover {
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8705882353);
    color: #ffffff;
  }
}
@media screen and (max-width: 510px) {
  .grid .mainaboutme {
    display: grid;
    grid-area: main1;
    padding-top: 20%;
    max-width: 100%;
    margin-top: 10rem;
    padding-top: 0rem;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: center;
    text-align: center;
  }
  .grid .mainaboutme .titleaboutme {
    font-size: 13vh;
  }
  .grid .mainaboutme .subtitle {
    font-size: 6vh;
  }
  .grid .mainaboutme .paragraph {
    font-size: 1.1vw;
    color: rgba(0, 0, 0, 0.8705882353);
    margin: 0.3vw 0.3vw 0vw 0.3vw;
  }
}
@media screen and (max-width: 435px) {
  .grid .header .lineabout {
    height: 2px;
    padding: 0;
    margin: -20rem 40vh 0 0;
  }
  .grid .header .homeabout {
    display: flex;
    justify-content: end;
    margin-top: -0.85rem;
    margin-right: 10%;
  }
  .grid .header .navbarabout {
    margin: 2rem;
    /*SKILLS*/
  }
  .grid .header .navbarabout .skills-list {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw;
    -moz-column-gap: 1vw;
         column-gap: 1vw;
    row-gap: 1.5vw;
    list-style: none;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .grid .header .navbarabout .skills-list .skill {
    background-color: #f3f5e2;
    padding: 0.5vw 0.75vw;
    border-radius: 0.25vw;
    border: 1px solid #444444;
    transition: 0.2s;
    font-size: 4.2vh;
  }
  .grid .header .navbarabout .skills-list .skills-titles {
    font-size: 9vh;
  }
  .grid .header .navbarabout .skills-list .mainaboutme .skills-list {
    margin-top: 0vw;
  }
}
@media screen and (max-width: 435px) and (hover: hover) {
  .grid .header .navbarabout .skills-list .skill:hover {
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8705882353);
    color: #ffffff;
  }
}
@media screen and (max-width: 435px) {
  .grid .mainaboutme {
    display: grid;
    grid-area: main1;
    padding-top: 20%;
    max-width: 100%;
    margin-top: 10rem;
    padding-top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    text-align: center;
  }
  .grid .mainaboutme .titleaboutme {
    font-size: 13vh;
  }
  .grid .mainaboutme .subtitle {
    font-size: 6vh;
  }
  .grid .mainaboutme .paragraph {
    font-size: 1.1vw;
    color: rgba(0, 0, 0, 0.8705882353);
    margin: 0.3vw 0.3vw 0vw 0.3vw;
  }
}
@media screen and (max-width: 400px) {
  .grid .header .lineabout {
    height: 2px;
    padding: 0;
    margin: -22rem 40vh 0 0;
  }
  .grid .header .homeabout {
    display: flex;
    justify-content: end;
    margin-top: -0.85rem;
    margin-right: 10%;
  }
  .grid .header .navbarabout {
    margin: 2rem;
    /*SKILLS*/
  }
  .grid .header .navbarabout .skills-list {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw;
    -moz-column-gap: 1vw;
         column-gap: 1vw;
    row-gap: 1.5vw;
    list-style: none;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .grid .header .navbarabout .skills-list .skill {
    background-color: #f3f5e2;
    padding: 0.5vw 0.75vw;
    border-radius: 0.25vw;
    border: 1px solid #444444;
    transition: 0.2s;
    font-size: 4.2vh;
  }
  .grid .header .navbarabout .skills-list .skills-titles {
    font-size: 9vh;
  }
  .grid .header .navbarabout .skills-list .mainaboutme .skills-list {
    margin-top: 0vw;
  }
}
@media screen and (max-width: 400px) and (hover: hover) {
  .grid .header .navbarabout .skills-list .skill:hover {
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8705882353);
    color: #ffffff;
  }
}
@media screen and (max-width: 400px) {
  .grid .mainaboutme {
    display: grid;
    grid-area: main1;
    padding-top: 20%;
    max-width: 100%;
    margin-top: 10rem;
    padding-top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    text-align: center;
  }
  .grid .mainaboutme .titleaboutme {
    font-size: 13vh;
  }
  .grid .mainaboutme .subtitle {
    font-size: 6vh;
  }
  .grid .mainaboutme .paragraph {
    font-size: 1.1vw;
    color: rgba(0, 0, 0, 0.8705882353);
    margin: 0.3vw 0.3vw 0vw 0.3vw;
  }
}/*# sourceMappingURL=styles.css.map */