header {
    background-color: $thirdColor;
    display: flex;
    gap: 2rem;
    grid-gap: 2rem;

    .navbar {
        animation: slide-in-fwd-center .4s cubic-bezier(.25, .46, .45, .94) both;
        justify-content: space-evenly;
        display: flex;
        flex: 1;
        font-size: large;
        z-index: 9999;

        /* PACMAN */
        /* PACMAN */
        /* PACMAN */
        .pacman {
            width: 50px;
            height: 50px;
            border-top: 25px solid #f0f329;
            border-right: 25px solid transparent;
            border-bottom: 25px solid #f0f329;
            border-left: 25px solid #f0f329;
            border-radius: 50%;
            margin-right: 2rem;
            filter: drop-shadow(0 0 3px);
            position: relative;
        }

        .pacman::before {
            content: "";
            position: absolute;
            width: 4.75px;
            height: 4.75px;
            background-color: #000;
            border-radius: 50%;
            top: -14.5px;
            left: -5px;
        }

        .circle {
            z-index: -1;
            position: absolute;
            top: -25px;
            left: -25px;
            border-radius: 50%;
            transform: rotate(280deg);
            border-top: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 25px solid #f0f329;
            border-left: 25px solid #f0f329;
            animation: rotate .5s infinite alternate;
        }

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        /* PACMAN */
        /* PACMAN */
        /* PACMAN */

        /* FANTASMA */
        /* FANTASMA */
        /* FANTASMA */
        .fantasmita {
            width: 60px;
            margin: 0px auto;
        }

        .fantasma {
            width: 40px;
            height: 48px;
            border-radius: 20px 20px 0px 0px;
            overflow: hidden;
            animation: clyde 1.5s infinite linear;
        }

        .clyde {
            width: 40px;
            height: 37.2px;
            background: #ff9f00;
            border-radius: 40px 40px 0px 0px;
        }

        .blinky {
            width: 40px;
            height: 37.2px;
            background: #ff0000;
            border-radius: 40px 40px 0px 0px;
        }

        .pinky {
            width: 40px;
            height: 37.2px;
            background: #ffa9d1;
            border-radius: 40px 40px 0px 0px;
        }

        .inky {
            width: 40px;
            height: 37.2px;
            background: #6ed1ff;
            border-radius: 40px 40px 0px 0px;
        }

        .tail {
            width: 120px;
            height: 6.0px;
            animation: tail 1.5s infinite linear;
            /* codepen preview messes up if you don't overlap divs */
            margin-top: -0.4px;
        }

        .clydetriangle {
            float: left;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #ff9f00;
        }

        .blinkytriangle {
            float: left;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #ff0000;
        }

        .pinkytriangle {
            float: left;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #ffa9d1;
        }

        .inkytriangle {
            float: left;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #6ed1ff;
        }

        .righteye {
            width: 12px;
            height: 12px;
            position: relative;
            top: 12px;
            left: 6px;
            background: white;
            border-radius: 50%;
        }

        .lefteye {
            width: 12px;
            height: 12px;
            position: relative;
            top: 0px;
            left: 22px;
            background: white;
            border-radius: 50%;
        }

        .iris {
            width: 4px;
            height: 4px;
            background: blue;
            position: absolute;
            top: 4px;
            animation: iris 1.5s infinite linear;
            border-radius: 50%;
        }

        /* need to change to use css transforms instead of margin */
        @keyframes tail {
            0% {
                margin-left: 0px;
            }

            50% {
                margin-left: -20px;
            }
        }

        @keyframes clyde {
            0% {
                margin-left: 0px;
            }

            50% {
                margin-left: 20px;
            }
        }

        /* don't work in firefox - need to fix */
        @keyframes iris {
            0% {
                left: 8px;
            }

            49% {
                left: 8px;
            }

            50% {
                left: 0px;
            }
        }

        /* FANTASMA */
        /* FANTASMA */
        /* FANTASMA */
        /*open - close - menu*/
        .open-menu,
        .close-menu {
            background-color: transparent;
            border: 0;
            color: var(--clr-text);
            font-size: 1.4rem;
            display: none;
            cursor: pointer;
        }

        .open-menu ion-icon,
        .close-menu ion-icon {
            pointer-events: none;
        }

        /*open - close - menu*/

        .menu {
            display: flex;
            flex: 1;
            position: relative;
            justify-content: space-evenly;
            list-style-type: none;
            gap: 1rem;
            grid-gap: 1rem;
            align-items: center;
            padding-block: 1rem;
            top: 0;
            width: 100%;
            margin: 0rem;

        }
    }

    @keyframes slide-in-fwd-center {
        0% {
            transform: translateZ(-1400px);
            opacity: 0
        }

        100% {
            transform: translateZ(0);
            opacity: 1
        }
    }
}

@for $item from 1 through 5 {
    .menu_item:nth-child(#{$item}) {
        animation-delay: $item*0.1s;
    }
}