@media screen and (max-width: 992px) {
  /* INDEX*/
  .maingrid {
    .mainindex {
      display: grid;
      grid-area: mainindex;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "mainme"
        "mainlinks";

      .mainme {
        display: grid;
        grid-area: mainme;
        .maintext {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          margin-top: 5rem;
          margin-bottom: 2rem;
          padding-left: 1rem;
          padding-right: 1.5rem;
          h1 {
            font-size: calc(12px + 6vw);
            margin-top: 5vw;
          }
          .title {
            color: $black;
          }
          .subtitle {
            font-size: calc(12px + 3.5vw);
            color: $black;
          }
          .paragraph {
            font-size: calc(12px + 2vw);
            color: $black;
          }
        }
      }
      .mainlinks {
        display: grid;
        grid-area: mainlinks;
        .pageslinks {
          display: flex;
          flex-direction: column;
          margin-top: 2rem;
          justify-content: center;
          text-align: center;
          .main2-item {
            .main2-link {
              font-size: 12vw;
            }
          }
        }
      }
    }
  }
  /* ABOUT*/
  .aboutgrid {
    .headermainabout {
      .aboutme {
        display: grid;
        grid-area: aboutme;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "aboutmetext"
          "aboutlinks";
        .aboutmetext {
          grid-area: aboutmetext;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          margin-bottom: 2rem;
          padding-left: 2rem;
          padding-right: 2rem;
          h1 {
            font-size: calc(12px + 3vw);
          }
          .subtitle {
            font-size: calc(12px + 1.5vw);
          }
        }
        .aboutlinks {
          .skills-titles {
            font-size: calc(12px + 3vw);
          }
          .skills-list {
            .skill {
              font-size: calc(12px + 1.5vw);
            }
          }
        }
      }
    }
  }
  /* WORKS */
  .worksgrid {
    .headermainworks {
      .works {
        .navworks {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "workstext"
          "workslinks";

          .workstext {
            grid-area: workstext;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-bottom: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-top: -5rem;
            h1 {
              font-size: calc(12px + 3vh);
              margin-top: 5vw;
            }
            .subtitle {
              font-size: calc(12px + 1.5vh);
            }
            .paragraph {
              font-size: calc(12px + 1.2vh);
            }
          }
          .workslinks {
            grid-area: workslinks;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            height: 400px;
            text-align: center;
            justify-content: center;
            margin-top: 4rem;
            margin-bottom: 2rem;
            overflow-y: scroll;
            width: 100%;
            margin-top: 2rem;
            .navbar-item {
              .project-link {
                .titleproject {
                  font-size: 4vh;
                  margin-bottom: -1.2rem;
                }
                .paragraphproject {
                  font-size: 1.5vh;
                }
              }
            }
          }
        }
      }
    }
  }
}
