@media screen and (max-width: 992px) {
  .grid {
    /******************************************* INDEX *************************************************/
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "footer1  main1"
      "footer1  header1";
    .header {
      display: grid;
      grid-area: header1;
      .gohome {
        margin-top: -25rem;
      }
      .navbar {
        display: flex;
        margin-top: -2rem;
        margin-bottom: 1rem;
        padding-right: 2vw;
        padding-left: 2vw;
        padding-top: 0rem;
        padding-bottom: 0rem;
        justify-content: center;
        text-align: center;
        .navbar-item {
          .navbar-link {
            font-size: calc(12px + 13vw);
          }
        }
      }
    }
    .main {
      display: grid;
      grid-area: main1;
      margin-top: 20%;
      margin-bottom: 10rem;
      margin-right: auto;
      margin-left: auto;
      padding: 1.5vw;
      text-align: center;
      h1 {
        font-size: calc(12px + 4.5vw);
        margin-top: 5vw;
      }

      .subtitle {
        font-size: calc(12px + 3vw);
        color: $black;
      }
      .paragraph {
        font-size: calc(12px + 1.5vw);
      }
    }
    .maincontact {
      display: grid;
      grid-area: main1;
      margin-top: 7%;
      max-width: 40rem;
      margin-bottom: 2rem;
      margin-right: auto;
      margin-left: auto;
      text-align: center;

      .subtitlecontact {
        padding-right: 2rem;
        padding-left: 2rem;
      }
    }

    .footer {
      grid-area: footer1;
      z-index: 600;
      width: 6%;
      height: 100vh;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 5%;
      padding-bottom: 30px;
      display: flex;
      position: fixed;
    }
    .main-footer {
      padding-block: 3rem;

      .main-footer-inner a {
        color: var(--clr-text);
        transition: 0.2s;
      }

      .main-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .main-footer-inner ion-icon {
          pointer-events: none;
          display: flex;
        }

        .colorbutton {
          color: var(--clr-text);
          transition: 0.2s;
          margin-top: -1.5rem;
          margin-bottom: 1rem;
        }
      }

      .main-buttons > button,
      .main-buttons > a {
        border: 0;
        background-color: transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }/************************************************ ABOUT ****************************************************/
    .header {
      .lineabout {
        height: 2px;
        padding: 0;
        margin: -50vh 40vh 0 0;
      }
      .homeabout {
        display: flex;
        justify-content: end;
        margin-top: -0.85rem;
        margin-right: 10%;
      }
    .navbarabout {
    margin: 2rem;
    /*SKILLS*/
    .skills-list {
      margin-top: 1vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 1vw;
      column-gap: 1vw;
      row-gap: 0.5vw;
      list-style: none;
      padding-right: 2rem;
      padding-left: 2rem;

      .skill {
        background-color: $gray;
        padding: 0.5vw 0.75vw;
        border-radius: 0.25vw;
        border: 1px solid $lightblack;
        transition: 0.2s;
        font-size: 4.2vh;
      }
      .skills-titles {
        font-size: 11vh;
      }
      .mainaboutme .skills-list {
        margin-top: 2vw;
      }

      @media (hover: hover) {
        .skill:hover {
          border-color: $white;
          background-color: $black;
          color: $white;
        }
      }
    }
  }
  
  }
  .mainaboutme {
    display: grid;
    grid-area: main1;
    padding-top: 20%;
    max-width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: center;
    text-align: center;
    .titleaboutme {
      font-size: 13vh;
    }

    .subtitle {
      font-size: 6vh;
    }

    .paragraph {
      font-size: 1.1vw;
      color: $black;
      margin: 0.3vw 0.3vw 0vw 0.3vw;
    }
  }
  /******************************************************** PROYECTOS **************************************************/
  .header {
    .lineproject {
      margin: -25rem 10rem 0 0;
    }
  }
  }  
}







@media screen and (max-width: 695px) {
.grid {
  .header {
    .lineabout {
      height: 2px;
      padding: 0;
      margin: -65vh 40vh 0 0;
    }
    .homeabout {
      display: flex;
      justify-content: end;
      margin-top: -0.85rem;
      margin-right: 10%;
    }
  .navbarabout {
  margin: 2rem;
  /*SKILLS*/
  .skills-list {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw;
    column-gap: 1vw;
    row-gap: 1.5vw;
    list-style: none;
    padding-right: 2rem;
    padding-left: 2rem;

    .skill {
      background-color: $gray;
      padding: 0.5vw 0.75vw;
      border-radius: 0.25vw;
      border: 1px solid $lightblack;
      transition: 0.2s;
      font-size: 4.2vh;
    }
    .skills-titles {
      font-size: 9vh;
    }
    .mainaboutme .skills-list {
      margin-top: 0vw;
    }

    @media (hover: hover) {
      .skill:hover {
        border-color: $white;
        background-color: $black;
        color: $white;
      }
    }
  }
}
}
.mainaboutme {
  display: grid;
  grid-area: main1;
  padding-top: 20%;
  max-width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  justify-content: center;
  text-align: center;
  .titleaboutme {
    font-size: 13vh;
  }

  .subtitle {
    font-size: 6vh;
  }

  .paragraph {
    font-size: 1.1vw;
    color: $black;
    margin: 0.3vw 0.3vw 0vw 0.3vw;
  }
}
}
}







@media screen and (max-width: 510px) {
  .grid {
    .header {
      .lineabout {
        height: 2px;
        padding: 0;
        margin: -75vh 40vh 0 0;
      }
      .homeabout {
        display: flex;
        justify-content: end;
        margin-top: -0.85rem;
        margin-right: 10%;
      }
    .navbarabout {
    margin: 2rem;
    /*SKILLS*/
    .skills-list {
      margin-top: 1vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 1vw;
      column-gap: 1vw;
      row-gap: 1.5vw;
      list-style: none;
      padding-right: 2rem;
      padding-left: 2rem;
  
      .skill {
        background-color: $gray;
        padding: 0.5vw 0.75vw;
        border-radius: 0.25vw;
        border: 1px solid $lightblack;
        transition: 0.2s;
        font-size: 4.2vh;
      }
      .skills-titles {
        font-size: 9vh;
      }
      .mainaboutme .skills-list {
        margin-top: 0vw;
      }
  
      @media (hover: hover) {
        .skill:hover {
          border-color: $white;
          background-color: $black;
          color: $white;
        }
      }
    }
  }
  }
  .mainaboutme {
    display: grid;
    grid-area: main1;
    padding-top: 20%;
    max-width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: center;
    text-align: center;
    .titleaboutme {
      font-size: 13vh;
    }
  
    .subtitle {
      font-size: 6vh;
    }
  
    .paragraph {
      font-size: 1.1vw;
      color: $black;
      margin: 0.3vw 0.3vw 0vw 0.3vw;
    }
  }
  }
  }







  @media screen and (max-width: 435px) {
    .grid {
      .header {
        .lineabout {
          height: 2px;
          padding: 0;
          margin: -85vh 40vh 0 0;
        }
        .homeabout {
          display: flex;
          justify-content: end;
          margin-top: -0.85rem;
          margin-right: 10%;
        }
      .navbarabout {
      margin: 2rem;
      /*SKILLS*/
      .skills-list {
        margin-top: 1vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1vw;
        column-gap: 1vw;
        row-gap: 1.5vw;
        list-style: none;
        padding-right: 2rem;
        padding-left: 2rem;
    
        .skill {
          background-color: $gray;
          padding: 0.5vw 0.75vw;
          border-radius: 0.25vw;
          border: 1px solid $lightblack;
          transition: 0.2s;
          font-size: 4.2vh;
        }
        .skills-titles {
          font-size: 9vh;
        }
        .mainaboutme .skills-list {
          margin-top: 0vw;
        }
    
        @media (hover: hover) {
          .skill:hover {
            border-color: $white;
            background-color: $black;
            color: $white;
          }
        }
      }
    }
    }
    .mainaboutme {
      display: grid;
      grid-area: main1;
      padding-top: 20%;
      max-width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
      justify-content: center;
      text-align: center;
      .titleaboutme {
        font-size: 13vh;
      }
    
      .subtitle {
        font-size: 6vh;
      }
    
      .paragraph {
        font-size: 1.1vw;
        color: $black;
        margin: 0.3vw 0.3vw 0vw 0.3vw;
      }
    }
    }
    }










    @media screen and (max-width: 400px) {
      .grid {
        .header {
          .lineabout {
            height: 2px;
            padding: 0;
            margin: -90vh 40vh 0 0;
          }
          .homeabout {
            display: flex;
            justify-content: end;
            margin-top: -0.85rem;
            margin-right: 10%;
          }
        .navbarabout {
        margin: 2rem;
        /*SKILLS*/
        .skills-list {
          margin-top: 1vw;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          gap: 1vw;
          column-gap: 1vw;
          row-gap: 1.5vw;
          list-style: none;
          padding-right: 2rem;
          padding-left: 2rem;
      
          .skill {
            background-color: $gray;
            padding: 0.5vw 0.75vw;
            border-radius: 0.25vw;
            border: 1px solid $lightblack;
            transition: 0.2s;
            font-size: 4.2vh;
          }
          .skills-titles {
            font-size: 9vh;
          }
          .mainaboutme .skills-list {
            margin-top: 0vw;
          }
      
          @media (hover: hover) {
            .skill:hover {
              border-color: $white;
              background-color: $black;
              color: $white;
            }
          }
        }
      }
      }
      .mainaboutme {
        display: grid;
        grid-area: main1;
        padding-top: 20%;
        max-width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: center;
        text-align: center;
        .titleaboutme {
          font-size: 13vh;
        }
      
        .subtitle {
          font-size: 6vh;
        }
      
        .paragraph {
          font-size: 1.1vw;
          color: $black;
          margin: 0.3vw 0.3vw 0vw 0.3vw;
        }
      }
      }
      }