@media screen and (max-width: 992px) {
  .grid{
    .mainindex {
    display: grid;
    grid-area: mainindex;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "mainme"
    "mainlinks";

    .mainme {
      display: grid;
      grid-area: mainme;
      .maintext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1.5rem;
        h1 {
        font-size: calc(12px + 6vw);
        margin-top: 5vw;
      }
      .title {
        color: $black;
      }
      .subtitle {
        font-size: calc(12px + 3.5vw);
        color: $black;
      }
      .paragraph {
        font-size: calc(12px + 2vw);
        color: $black;
      }
    }
    }
    .mainlinks {
      display: grid;
      grid-area: mainlinks;
      .pageslinks {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        justify-content: center;
        text-align: center;
        .main2-item {
            .main2-link {
              font-size: 12vw;
            }
          }
    }
    }
  }
}
}